<h1><%= @topic.title %></h1>
<p><%= @topic.body %></p>

<div>
  <%= link_to "Edit Topic", edit_topic_path, class: "btn btn-success" %>
  <%= link_to "Delete Topic", @topic, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure you want to delete topic?'} %>
</div>

<hr>

<%= render partial: 'comments/comment', locals: { commentable: @topic } %>

<%= render partial: 'comments/form', locals: { commentable: @topic } %>

<!--
<%# if @topic.comments.any? %>
  <h4><%#= pluralize @topic.comments.count, "comment" %>:</h4>

    <%# @topic.comments.each do |comment| %>
      <p><%#= comment.body %></p>
    <%# end %>

<%# else %>
  <h4>No comment available:</h4>
<%# end %>
 -->

<hr>
<% if @topic.posts.any? %>
  <h4><%= pluralize @topic.posts.count, "post" %> for this topic: </h4>

    <%= render partial: 'posts/post', locals: { post: @topic.posts }, collection: @topic.posts %>

<% else %>
  <h4>No post for this topic:</h4>
<% end %>

<%= link_to "Add a new post", new_topic_post_path(@topic), class: "btn btn-success" %>
