<h1><%= @post.title %></h1>
<p><%= @post.body %></p>

<div>
  <%= link_to "Edit Post", edit_topic_post_path, class: "btn btn-success" %>
  <%= link_to "Delete Post", [@post.topic, @post], method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure you want to delete post?'} %>
</div>

<%= render partial: 'comments/comment', locals: { commentable: @post } %>

<%= render partial: 'comments/form', locals: { commentable: @post } %>

<!--
<%# if @post.comments.any? %>
  <h4><%#= pluralize @post.comments.count, "comment" %>:</h4>

    <%# @post.comments.each do |comment| %>
      <p><%#= comment.body %></p>
    <%# end %>

<%# else %>
  <h4>No comment available:</h4>
<%# end %>
 -->
 
